.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        margin: 2rem;
    }
}
.logo{
    max-width: 400px;
}

.return{
max-width: 100px;
}
