@use '../../styles/mixins';
@use '../../styles/colors';
@use '../../styles/fonts';

.main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__flex{
        display: flex;
    }
    &__title{
        margin: 2rem;
    }
    // &__click{
    //     max-width: 150px;
    //     position: absolute;
    //     right: 30rem;
    //     top: 5rem;
    // }
}

.logo{
    max-width: 400px;
}

.logo:hover{
    animation: spin 4s;
    animation-timing-function: linear;
}






