@use '../../styles/mixins';
@use '../../styles/colors';
@use '../../styles/fonts';

.wheel{
    background-color:colors.$primary ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 90vh;
    &__container{
    background-image: url('../../assets/background.png');
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #734e3c;
    border-radius: 50%;
    border: none;
    }
    &__container:hover{
        animation: spin 4s;
        animation-timing-function: linear;
        animation-delay: 0.5s;
    }
// &__flex{
//     display: flex;
// }
// &__title{
//     margin-right: 12rem;
// }
&__cog{
    max-width: 60px;
    position: absolute;
    top: 16rem;
    z-index: 100;
}
 &__emotion{
    &--text{
        &1{
        color: colors.$tertiary;
        background-color: white;
        width:300px;
        height: 200px;
        clip-path: polygon(100% 0,50% 100%, 0 0);
        transform: translate(70%)rotate(-90deg);
        text-align: center;
        }
        &2{
            color: colors.$tertiary;
            background-color: white;
            width:300px;
            height: 200px;
            clip-path: polygon(100% 0,50% 100%, 0 0);
            transform: translate(60%,-55%)rotate(-20deg);
            text-align: center;
        }
        &3{
            color: colors.$tertiary;
            background-color: white;
            width:300px;
            height: 200px;
            clip-path: polygon(100% 0,50% 100%, 0 0);
            transform: translate(70%,-50%)rotate(30deg);
            text-align: center;
        }
        &4{
            color:colors.$tertiary;
            background-color: white;
            width:300px;
            height: 200px;
            clip-path: polygon(100% 0,50% 100%, 0 0);
            transform: translate(30%)rotate(90deg);
            text-align: center;
        }
        &5{
            color: colors.$tertiary;
            background-color: white;
            width:300px;
            height: 200px;
            clip-path: polygon(100% 0,50% 100%, 0 0);
            transform: translate(-200%,60%)rotate(-180deg);
            text-align: center;
        }
    }
}
}
.return{
    margin-right: 8rem;
    max-width: 75px;
}
