.suggestions{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
}

.book{
    max-height: 100px;
}

.outside{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__video{
        border-radius: 0.5rem;
    }
}