@use './styles/mixins';
@use './styles/colors';
@use './styles/fonts';

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app{
  background-color:#AB93C9;
  color:white;
  font-family: 'Product-sans',sans-serif;
}
